
:root {
    --black:rgb(34, 43, 43);
    --link: rgb(236, 88, 43);
    --white: rgb(245, 245, 245);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: inherit;
}
a {
    font-weight: 500;
    color: var(--link);
}
a:hover{
    text-decoration: underline;
}

body , html {
    background-color: var(--white);
    margin: 0 auto;
}
main {
    min-height: 100vh;
    max-width: 1270px;
    margin: 4rem auto;
    padding: 1rem;
}