
:root {
    --black:#354b46;
    --primary: #00ebcb;
    --link:var(--primary);
    --white: #feffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: inherit;
}


a {
    font-weight: 500;
    color: var(--link);
}
a:hover{
    text-decoration: underline;
}

body , html {
    background-color: var(--white);
    margin: 0 auto;
    color: var(--black);
}
main {
    min-height: 100vh;
    max-width: 1270px;
    margin: 4rem auto;
    padding: 1rem;
}

h1,h2,h3,h4,h5 {
    margin: 1rem auto;
    padding: 1rem auto;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}