
:root {
    --black:#354b46;
    --primary: #00ebcb;
    --secondary: #55a997;
    --danger: #a73a00;
    --link: #00b3e5;
    --white: #feffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: inherit;
}

.btn{
    font-size: 1.2rem;
    padding: .25em;
    border: 1px solid transparent;
    cursor: pointer;
}

.container {
    margin: 5rem auto;
    max-width: 1280px;
}

a {
    font-weight: 500;
    color: var(--link);
}
a:hover{
    text-decoration: underline;
}

body , html {
    font-size: 18px;
    background-color: var(--white);
    margin: 0 auto;
    color: var(--black);
}
main {
    min-height: 100vh;
    max-width: 1270px;
    margin: 4rem auto;
    padding: 1rem;
}

h1,h2,h3,h4,h5 {
    margin: 1rem auto;
    padding: 1rem auto;
}
h1 {
    font-size: 3.7rem;
}

h2 {
    font-size: 3.3rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

#page {
    display: grid;
    grid-template-areas: "header header header header"
                         "main   main   main   main"
                         "footer footer footer footer";
}


/*------------------------------------*\
    $SMALL COMPUTER SCREENS
\*------------------------------------*/
 @media all and (max-width: 1034px) {

}

/*------------------------------------*\
    $IPAD AND TABLET
\*------------------------------------*/

@media only screen and (max-width: 767px) {
    html,body{

        font-size: 14px;
    }

    #page {
        grid-template-areas:"header"
                            "main"
                            "footer";
    }
}

/*------------------------------------*\
    $IPHONE 4S LANDSCAPE
\*------------------------------------*/

@media only screen and (max-width : 480px) {
    html,body{

        font-size: 12px;
    }

    #page {
        grid-template-areas:"header"
                            "main"
                            "footer";
    }
}

/*------------------------------------*\
    $IHPONE 4S
\*------------------------------------*/

@media only screen and (max-width : 320px) {
    html,body{

        font-size: 10px;
    }
}